@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?fd28xv');
	src:url('../fonts/icomoon.eot?#iefixfd28xv') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?fd28xv') format('truetype'),
		url('../fonts/icomoon.woff?fd28xv') format('woff'),
		url('../fonts/icomoon.svg?fd28xv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
	content: "\e600";
}
.icon-books:before {
	content: "\e601";
}
.icon-coin-dollar:before {
	content: "\e602";
}
.icon-coin-euro:before {
	content: "\e603";
}
.icon-coin-pound:before {
	content: "\e604";
}
.icon-coin-yen:before {
	content: "\e605";
}
.icon-pushpin:before {
	content: "\e606";
}
.icon-location:before {
	content: "\e607";
}
.icon-clock:before {
	content: "\e608";
}
.icon-hammer:before {
	content: "\e609";
}
.icon-stats-dots:before {
	content: "\e60a";
}
.icon-switch:before {
	content: "\e60b";
}
.icon-clipboard:before {
	content: "\e60c";
}
.icon-list2:before {
	content: "\e60d";
}
.icon-heart:before {
	content: "\e60e";
}
.icon-plus:before {
	content: "\e60f";
}
.icon-minus:before {
	content: "\e610";
}
.icon-cross:before {
	content: "\e611";
}
.icon-checkmark:before {
	content: "\e612";
}
.icon-circle-up:before {
	content: "\e613";
}
.icon-circle-right:before {
	content: "\e614";
}
.icon-circle-down:before {
	content: "\e615";
}
.icon-circle-left:before {
	content: "\e616";
}
.icon-facebook3:before {
	content: "\e617";
}
.icon-twitter3:before {
	content: "\e618";
}
.icon-about .path1:before {
	content: "\e619";
	color: rgb(255, 255, 255);
}
.icon-about .path2:before {
	content: "\e61a";
	margin-left: -1em;
	color: rgb(39, 37, 37);
}
.icon-achieve:before {
	content: "\e61b";
}
.icon-bonus:before {
	content: "\e61c";
}
.icon-bonus01:before {
	content: "\e61d";
}
.icon-bonus02:before {
	content: "\e61e";
}
.icon-card:before {
	content: "\e61f";
}
.icon-direct:before {
	content: "\e620";
}
.icon-edit:before {
	content: "\e621";
}
.icon-genealogy:before {
	content: "\e622";
}
.icon-logo:before {
	content: "\e623";
}
.icon-market:before {
	content: "\e624";
}
.icon-org:before {
	content: "\e625";
}
.icon-panel:before {
	content: "\e626";
}
.icon-pay-cal:before {
	content: "\e627";
}
.icon-pay:before {
	content: "\e628";
}
.icon-points-cal .path1:before {
	content: "\e629";
	color: rgb(39, 37, 37);
}
.icon-points-cal .path2:before {
	content: "\e62a";
	margin-left: -1em;
	color: rgb(39, 37, 37);
}
.icon-points-cal .path3:before {
	content: "\e62b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-points-cal .path4:before {
	content: "\e62c";
	margin-left: -1em;
	color: rgb(39, 37, 37);
}
.icon-points-con:before {
	content: "\e62d";
}
.icon-points:before {
	content: "\e62e";
}
.icon-prize:before {
	content: "\e62f";
}
.icon-profile:before {
	content: "\e630";
}
.icon-promo:before {
	content: "\e631";
}
.icon-recog:before {
	content: "\e632";
}
.icon-report:before {
	content: "\e633";
}
.icon-security:before {
	content: "\e634";
}
.icon-services:before {
	content: "\e635";
}
.icon-settings:before {
	content: "\e636";
}
.icon-support:before {
	content: "\e637";
}
.icon-transfer-his:before {
	content: "\e638";
}
.icon-transfer:before {
	content: "\e639";
}
.icon-van:before {
	content: "\e63a";
}
