@charset "UTF-8";
/*
 * SCSS for Gen Kreativo - BNS project
 * Author : Silvana Ramírez (silvana.ramirez85@gmail.com)
 */
/*
Base imported to layout
*/
/* Modules */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300);
.u-btnGold {
  background-color: #d3b468;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 2em;
  text-transform: uppercase; }
  .u-btnGold:hover {
    background-color: #b59544; }

.u-inputDark {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  padding: 10px;
  border-radius: 2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 0.9em;
  margin: 10px 0; }
  .u-inputDark:focus {
    border: 1px solid #d3b468;
    outline: 0; }

/* ===========================
   Base
   =========================== */
/*GENERAL FONTS*/
html {
  height: 100%;
  width: 100%; }

a {
  cursor: pointer;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  webkitfontsmoothing: antialiased; }

form {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* ====================================================
   Layout
   ============================================================ */
/* 
   NavBar
*/
.header {
  width: 100%;
  z-index: 1000;
  background-color: #d3b468;
  color: #2a3b4f;
  margin-bottom: 0px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05); }
  .header .navbar-header {
    width: 50%;
    vertical-align: middle; }
  .header .navbar-brand {
    color: rgba(0, 0, 0, 0.3);
    text-shadow: none;
    font-weight: bold;
    margin-left: 0px;
    float: none;
    display: inline-block;
    padding: 15px 10px 10px 10px; }
  .header .header-logo {
    height: 25px;
    margin: 0 10px 0 20px; }
  .header .header-sidebtn {
    background-color: black;
    width: 20px;
    display: inline-block;
    float: left;
    margin: 0 10px;
    height: 100%;
    width: auto;
    margin-top: 10px; }
    .header .header-sidebtn span {
      border-radius: 5px;
      margin: 0;
      padding: 0;
      width: 20px;
      height: 30px;
      display: inline-block;
      background-color: #2a3b4f;
      float: left; }
  .header .dropdown a {
    color: #2a3b4f;
    text-shadow: none; }
    .header .dropdown a:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  .header .open .dropdown-toggle {
    color: #2a3b4f;
    background-color: rgba(0, 0, 0, 0.1); }

/* 
   General Content
*/
.content {
  height: 100vh;
  display: block;
  position: relative; }
  .content .content-sidebar {
    background-color: #2a3b4f;
    width: 5%;
    display: inline-block;
    height: 100vh; }
    .content .content-sidebar .sidebar-icons {
      width: 100%;
      padding-top: 52px;
      background-color: rgba(0, 0, 0, 0.2);
      text-align: center;
      border-right: 1px solid rgba(0, 0, 0, 0.1); }
      .content .content-sidebar .sidebar-icons li {
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        vertical-align: middle; }
        .content .content-sidebar .sidebar-icons li a {
          padding: 10px;
          vertical-align: middle;
          display: inline-block;
          width: 100%; }
          .content .content-sidebar .sidebar-icons li a:hover {
            background-color: rgba(0, 0, 0, 0.1); }
          .content .content-sidebar .sidebar-icons li a span {
            color: white;
            font-size: 20px; }
            .content .content-sidebar .sidebar-icons li a span:hover {
              color: #d3b468; }
        .content .content-sidebar .sidebar-icons li ul {
          background-color: rgba(0, 0, 0, 0.2);
          display: inline-block;
          width: 100%;
          display: none; }
          .content .content-sidebar .sidebar-icons li ul li {
            margin: 0;
            padding: 0;
            height: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
            .content .content-sidebar .sidebar-icons li ul li a {
              font-size: 12px;
              padding: 5px 10px 5px 30px;
              height: 18px; }
    .content .content-sidebar .sidebar-off {
      display: none; }
    .content .content-sidebar .sidebar-links {
      position: absolute;
      top: 51px;
      left: 5%;
      background-color: #2a3b4f;
      font-size: 14px;
      color: white;
      width: 230px;
      z-index: 10000; }
      .content .content-sidebar .sidebar-links li {
        min-height: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        vertical-align: middle; }
        .content .content-sidebar .sidebar-links li a {
          color: white;
          padding: 5px 10px;
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;
          width: 100%; }
          .content .content-sidebar .sidebar-links li a:hover {
            background-color: #d3b468;
            color: #2a3b4f;
            font-weight: bold;
            height: 39px; }
        .content .content-sidebar .sidebar-links li h3 {
          display: inline-block;
          width: 100%;
          padding: 5px 10px;
          font-size: 14px;
          margin: 0;
          height: 39px;
          cursor: pointer; }
          .content .content-sidebar .sidebar-links li h3:hover {
            background-color: #d3b468;
            color: #2a3b4f;
            font-weight: bold; }
        .content .content-sidebar .sidebar-links li ul {
          background-color: rgba(0, 0, 0, 0.2);
          display: inline-block;
          width: 100%;
          display: none; }
          .content .content-sidebar .sidebar-links li ul li {
            margin: 0;
            padding: 0;
            height: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
            .content .content-sidebar .sidebar-links li ul li a {
              font-size: 12px;
              padding: 5px 10px 5px 30px;
              height: 18px; }
  .content .content-base {
    width: 95%;
    display: inline-block;
    float: right;
    height: 100vh;
    position: relative; }
    .content .content-base .content-base-header, .content .content-base .content-base-subheader, .content .content-base .content-base-footer {
      width: 100%;
      display: inline-block; }
    .content .content-base .content-base-header {
      margin-top: 50px;
      background-color: #b59544;
      padding: 0 15px;
      color: white; }
      .content .content-base .content-base-header a {
        color: white;
        font-size: 20px; }
      .content .content-base .content-base-header h3 {
        display: inline-block;
        font-size: 18px;
        text-transform: uppercase; }
    .content .content-base .content-base-subheader {
      background-color: #f7f7f7;
      padding: 5 15px;
      color: #2a3b4f; }
      .content .content-base .content-base-subheader a {
        color: #2a3b4f;
        font-size: 20px; }
      .content .content-base .content-base-subheader h3 {
        display: inline-block;
        font-size: 18px;
        text-transform: uppercase; }
    .content .content-base .content-base-footer {
      background-color: #7f94b4;
      position: absolute;
      bottom: 0;
      height: 40px; }
  .content .content-subHeader {
    background-color: #f2f2f2;
    width: 80%;
    display: inline-block; }

/* 
   Login screen
*/
.log {
  background-color: #2a3b4f;
  background-image: url("../images/pattern@2x.png");
  background-repeat: repeat;
  background-size: 20px 20px;
  color: white;
  height: 100vh; }
  .log .login-top, .log .login-card {
    width: 30%;
    margin: 100px auto 50px;
    text-align: center; }
  .log .login-top .login-top-lang li {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    margin: 10px;
    padding: 10px; }
    .log .login-top .login-top-lang li a {
      color: rgba(255, 255, 255, 0.3); }
      .log .login-top .login-top-lang li a:hover {
        color: white; }
    .log .login-top .login-top-lang li.active {
      border: 1px solid #d3b468; }
      .log .login-top .login-top-lang li.active a {
        color: #d3b468; }
        .log .login-top .login-top-lang li.active a:hover {
          color: white; }
  .log .login-top h1 {
    font-size: 1.3em;
    letter-spacing: 1px;
    font-weight: bold; }
  .log .login-top .login-topLogo {
    width: 140px;
    margin-top: 20px; }
  .log .login-card input {
    display: block;
    width: 100%; }
  .log .login-help {
    margin: 10px 0; }
    .log .login-help a {
      color: rgba(255, 255, 255, 0.5);
      font-size: 0.8em;
      letter-spacing: 1px; }
      .log .login-help a:hover {
        color: white; }

/*# sourceMappingURL=style.css.map */
