@import 'base';

/* ====================================================
   Layout
   ============================================================ */

/* 
   NavBar
*/

.header{
	width: 100%;
	z-index: 1000;
	background-color: $goldSoft;
	color: $blueDark;
	margin-bottom:0px;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.05);

	.navbar-header{
		width: 60%;
		vertical-align: middle;

		.header-logo{
			font-size: 50px;
			color: $goldDark;
			margin: 0 10px 0 20px;
			display: inline-block;
			float: left;
		}

		.navbar-brand{
			color: rgba(0,0,0,0.3);
			text-shadow: none;
			font-weight: bold;
			margin-left: 0px;
			display: inline-block;
			padding: 0px;
			margin-top: 15px;
			height: auto;

		}


	}
	.dropdown-toggle{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.header-sidebtn{
		
		background-color: black;
		width: 20px;
		display: inline-block;
		float: left;
		margin: 0 10px;
		height: 100%;
		width: auto;
		margin-top: 10px;


		span{
			border-radius: 5px;
			margin: 0;
			padding: 0;
			width: 20px;
			height: 30px;
			display: inline-block;
			background-color: $blueDark;
			float: left;
		}
	}
	
	.dropdown{
		a{
			color: $blueDark;
			text-shadow: none;

			&:hover{
				background-color: rgba(0,0,0,0.1);
			}
		}
	}

	.open{

		.dropdown-toggle{
			color: $blueDark;
			background-color: rgba(0,0,0,0.1);
		}
		
	}
}

/* 
   Bottom Bar
*/

.bottom-bar{
	width: 95%;
	position: fixed;
	background-color: $blueDark;
	position: absolute;
	bottom: 0;
	height: 40px;
	display: block;
	margin-left: 5%;

	.bottom-bar-module, .bottom-bar-moduleO{
		margin: 0;
		padding: 10px;
		height: 100%;
		color: $blueSoft;
		display: inline-block;
	}

	.bottom-bar-module{
		background-color: rgba(0,0,0,0.1);
		
	}
	.bottom-search{
		margin: 0px;
		padding: 0px;
		position: relative;

		input{
			height: 40px;
			margin: 0;
			border: none;
			background-color: rgba(0,0,0,0.2);
			width: 100%;
			color: rgba(255,255,255,0.8);
			padding: 5px 15px;
		}

		span{
			position: absolute;
			color: white;
			vertical-align: middle;
			right: 30px;
			top: 15px;
			color: $goldSoft;
			cursor: pointer;

			&:hover{
				color: white;
			}
		}
	}
}/*Content Foooter*/

/* 
   General Content
*/

.content{
	height: 100vh;
	display: block;
	position: relative;
	
	.content-sidebar{
		background-color: $blueDark;
		width: 5%;
		display: inline-block;
		height: 100vh;

		@media (max-width: $tablet) {
			display: none;
		}

		.sidebar-icons{
			width: 100%;
			padding-top: 52px;
			background-color: rgba(0,0,0,0.2);
			text-align: center;
			border-right: 1px solid rgba(0,0,0,0.1);

			li{
				width: 100%;
				display: inline-block;
				border-bottom: 1px solid rgba(0,0,0,0.1);
				vertical-align: middle;

				a{
					padding: 10px;
					vertical-align: middle;
					display: inline-block;
					width: 100%;

					&:hover{
						background-color: rgba(0,0,0,0.1);
					}

					span{
						color: white;
						font-size: 20px;

						&:hover{
							color: $goldSoft;
						}
					}
				}

				ul{
					background-color: rgba(0,0,0,0.2);
					display: inline-block;
					width: 100%;
					display: none;

					li{
						margin: 0;
						padding: 0;
						height: 20px;
						border-bottom: 1px solid rgba(0,0,0,0.1);

						a{
							font-size: 12px;
							padding: 5px 10px 5px 30px; 
							height: 18px;
						}
					}
				}
			}
		}

		.sidebar-off{
			display: none;
		}

		.sidebar-links{
			position: absolute;
			display: none;
			top: 51px;
			left: 5%;
			background-color: $blueDark;
			font-size: 14px;
			color: white;
			width: 230px;
			z-index: 10000;

			li{
				min-height: 40px;
				border-bottom: 1px solid rgba(0,0,0,0.1);
				vertical-align: middle;

				a{
					color: white;
					padding: 5px 10px; 	
					display: inline-block;
					vertical-align: middle;
					cursor: pointer;
					width: 100%;

					&:hover{
						background-color: $goldSoft;
						color: $blueDark;
						font-weight: bold;
						height: 39px;
					}
				}

				h3{
					display: inline-block;
					width: 100%;
					padding: 5px 10px; 	
					font-size: 14px;
					margin: 0;
					height: 39px;
					cursor: pointer;

					&:hover{
						background-color: $goldSoft;
						color: $blueDark;
						font-weight: bold;
					}
				}

				ul{
					background-color: rgba(0,0,0,0.2);
					display: inline-block;
					width: 100%;
					display: none;

					li{
						margin: 0;
						padding: 0;
						height: 20px;
						border-bottom: 1px solid rgba(0,0,0,0.1);

						a{
							font-size: 12px;
							padding: 5px 10px 5px 30px; 
							height: 18px;
						}
					}
				}
			}
		}
	}

	.content-base{
		width: 95%;
		display: inline-block;
		float: right;
		height: 100vh;
		position: relative;
		overflow-y: scroll;
		overflow-x: hidden;
		padding-bottom: 50px;

		@media (max-width: $tablet) {
			width: 100%;
		}

		.content-base-header, .content-base-subheader{
			width: 100%;
			display: inline-block;
		}

		.content-base-header{
			margin-top: 50px;	
			background-color: $goldDark;
			padding: 10px 15px;
			color: white;
			vertical-align: middle;

			a{
				color: white;
				font-size: 20px;
				float: left;
			}

			h3{
				display: inline-block;
				font-size: 16px;
				margin: 0px;
				padding: 0px;
				text-transform: uppercase;
				letter-spacing: 0.5px;
				float: left;
				margin-top: 5px;

			}
		}

		.content-base-subheader{
			background-color: #f7f7f7;
			color: $blueDark;
			height: 50px;

			.subheader-index{
				vertical-align: middle;
				padding-top: 10px;
			}

			.subheader-tools{
				height: 50px;
				display: flex;
				justify-content: flex-end;
				align-items: center;

				a{
					vertical-align: middle;
					text-align: center;
					padding: 0 10px;
					margin: 0 2px;
					hwight: 100%;
				}
			}

			p{
				display: inline-block;
			}
		}/*Content Subheader*/
		

		.content-base-module{

			.general{
				padding: 10px 20px;
			}
			
			.org{
				.level{
					width: 100%;
					padding: 0;
					margin: 20px 0 0 0;
					display: flex;
				}

				.item{
					text-align: center;
					margin: 0 auto;

					.item-photo{
						display: block;
						width: 60%;
						position: relative;
						margin: 0 auto;

						.item-photoMain{
							position: relative;
							text-align: center;
							margin: 15px 0;

							.photoMain-line{
								position: absolute;
								height: 4px;
								width: 100%;
								z-index: -10;
								background-color: $goldSoft;
								top: 30px;
								left: 0%;
							}
							img{
								height: 65px;
								width: 65px;
								border: 3px solid $goldSoft;
								border-radius: 50%;

								&.photoMain-other{
									border: 3px solid $blueSoft;

									&:hover{
										border: 2px solid $blueDark;
										cursor: pointer;
									}
								}

								&.photoMain-otherS{
									border: 2px solid $blueSoft;
									height: 40px;
									width: 40px;

									&:hover{
										border: 1px solid $blueDark;
										cursor: pointer;
									}
								}
							}
						}
						.item-photoSub{
							position: absolute;
							top: 15px;

							&.item-photoSub--left{
								left: 0;
							}
							&.item-photoSub--right{
								right: 0;
							}
						}
					}//Photo

					.item-desc{
						h4{
							margin: 0 auto;

							&.name-other{
								font-size:13px;
							}
						}

						.item-desc-user{
							margin: 0;
							padding: 0;
						}

						.item-desc-category{
							width: 70%;
							margin: 0 auto;
							vertical-align: middle;

							.u-dot{
								background-color: green;
								float: left;

								&.dot-other{
									float: none;
								}
							}

							p{
								display: inline-block;
								margin:0;
								paddin: 0;
							}	
						}
					}

					&.item--principal{
						max-width: 250px;
					}
					&.item--secondary{
						width: 49%;
						magin: 0;
						display: inline-block;
					}

				}//item

			}
		}
	}


}

/* 
   Login screen
*/

.log{
	background-color: $blueDark;
	background-image: url("../images/pattern@2x.png");
	background-repeat: repeat;
	background-size: 20px 20px;
	color: white;
	height: 100vh;

	.login-top, .login-card{
		width: 30%;
		margin: 100px auto 50px;
		text-align: center;
	}

	.login-top{

		.login-top-lang{
			
			li{
				display: inline-block;
				height: 40px;
				width: 40px;
				border-radius: 50%;
				background-color: rgba(0,0,0,0.3);
				vertical-align: middle;
				margin: 10px;
				padding: 10px;

				a{
					color: rgba(255,255,255,0.3);

					&:hover{
						color: rgba(255,255,255,1);
					}
				}

				&.active{
					border: 1px solid $goldSoft;

					a{
						color: $goldSoft;

						&:hover{
							color: white;
						}
					}
				}
			}

		}

		h1{
			font-size: 1.3em;
			letter-spacing: 1px;
			font-weight:bold;
		}

		.login-topLogo{
			width: 140px;
			margin-top: 20px;
		}
	}

	.login-card{
		
		input{
			display: block;
			width: 100%;
		}
	}

	.login-help{
		margin: 10px 0;

		a{
			color: rgba(255,255,255,0.5);
			font-size: 0.8em;
			letter-spacing: 1px;

			&:hover{
				color: rgba(255,255,255,1);
			}
		}
	}
}



